@import url('https://fonts.googleapis.com/css?family=Gorditas');



body, html {
    height: 100%;
    font-family: 'Gorditas', cursive;
}

.bg {
    /* The image used */
    background-image: url("../img/pig_bg.jpeg");

    /* Full height */
    height: 100%;

    /* Center and scale the image nicely */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

#game {
  display:none;
}

#player_two_turn {
  display:none;
}

.die_images {
  width:371px !important;
  height:371px !important;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

#two_player_form {
  display:none;
}

#one_player_form {
  display:none;
}

.one_dice {
  background-image: url("../img/die1.svg");
  height:100px;
  width:100px;
  background-size:100%;
}

.two_dice {
  background-image: url('../img/die2.svg');
  background-size: 100%;
  height:100px;
  width:100px;
}


/* This method of using an image for a radio button is from https://gist.github.com/rcotrina94/7828886#file-how-to-use-images-as-radio-buttons-md */
.dice_selector input {
  margin:0;padding:0;
  -webkit-appearance:none;
    -moz-appearance:none;
      appearance:none;
}

.dice_selector input:active +.drink_dice{opacity: .9;}
.dice_selector input:checked +.drink_dice{
  -webkit-filter: none;
    -moz-filter:none;
      filter:none;
}

.drink_dice{
  cursor:pointer;
  display:inline-block;
  -webkit-transition: all 100ms ease-in;
       -moz-transition: all 100ms ease-in;
            transition: all 100ms ease-in;
  -webkit-filter: brightness(1.8) grayscale(1) opacity(.7);
     -moz-filter: brightness(1.8) grayscale(1) opacity(.7);
        filter: brightness(1.8) grayscale(1) opacity(.7);
}

.drink_dice:hover {
  -webkit-filter: brightness(1.2) grayscale(.5) opacity(.9);
       -moz-filter: brightness(1.2) grayscale(.5) opacity(.9);
          filter: brightness(1.2) grayscale(.5) opacity(.9);
}

.dice_selector_comp input {
  margin:0;padding:0;
  -webkit-appearance:none;
    -moz-appearance:none;
      appearance:none;
}

.dice_selector_comp input:active +.drink_dice_comp{opacity: .9;}
.dice_selector_comp input:checked +.drink_dice_comp{
  -webkit-filter: none;
    -moz-filter:none;
      filter:none;
}

.drink_dice_comp {
  cursor:pointer;
  display:inline-block;
  -webkit-transition: all 100ms ease-in;
       -moz-transition: all 100ms ease-in;
            transition: all 100ms ease-in;
  -webkit-filter: brightness(1.8) grayscale(1) opacity(.7);
     -moz-filter: brightness(1.8) grayscale(1) opacity(.7);
        filter: brightness(1.8) grayscale(1) opacity(.7);
}

.drink_dice_comp:hover {
  -webkit-filter: brightness(1.2) grayscale(.5) opacity(.9);
       -moz-filter: brightness(1.2) grayscale(.5) opacity(.9);
          filter: brightness(1.2) grayscale(.5) opacity(.9);
}
